html, body {
    height: 100%;
    margin: 0;
}

.Hintergrund {
    background-color: oklch(0.1 0 0);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hauptcontainer {
    background-color: oklch(0.2 0 0);
    text-align: center;
    padding: 1.5rem;
}

h1 {
    color: oklch(0.9 0 0);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Untertitel {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1.25rem;
}

.Untertitel, .Info-div, .StartButton, .Schwierigkeitsgrad-div {
    color: oklch(0.8 0 0);
}

.Info-div, .Info:last-child, .Schwierigkeitsgrad-div, .Schwierigkitsgrad-Anzeige:last-child {
    padding-bottom: 1rem;
}

.Info, .Schwierigkitsgrad-Anzeige {
    padding-bottom: 1rem;
}

a {
    transition: background-color 0.25s ease;
}

a:hover {
    background-color: oklch(0.3 0 0);
    color: oklch(0.7 0 0);
}